
.card {
  background-color: Red;
  border: 2px solid red;
  border-radius: 10px;
  overflow: hidden;
  /* box-shadow: 8px 8px 10px black; */
  transition:0.3s;
  margin: 20px;
  display: flex;
  flex-direction:column;
  min-width: 300px;
  max-width: 300px;
}

.card:hover {
    transition:0.3s;
    transform: scale(1.02);
    box-shadow: 0px 0px 45px rgba(255, 0, 0, 0.616)
  }
.card .title {
  padding: 10px 0px;
  display: flex;
  justify-content: center;
}

.card .content {
  flex: 1;
  background-color: #ffff;
  color: #000;
  padding: 10px;
}
