@font-face {
  font-family: 'Gotham Bold Regular';
  src: url('./GothamBoldRegular/GothamBoldRegular.ttf')format("truetype");
}
body {
  font-family: Gotham Bold Regular;
  background-color: #222;
  color: white;
  text-align: center;
  font-size:1.2rem;
}

h1,
h2,
h3 {
  /* font-weight: 100; */
}

h2,
h3 {
  font-weight: 100;
  margin: 0;
}
